.si-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.si {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.si:before {
  content: "\00a0";
}
.si.si-squared {
  width: 1em;
}


.si-invert{
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.si-whiteshadow{
    -webkit-filter: drop-shadow(0px 0px 25px #fff);
    filter: drop-shadow(0px 0px 25px #fff);
}

.si-24{
   font-size:24px;
}
.si-36{
   font-size:36px;
}
.si-48{
   font-size:48px;
}
.si-96{
   font-size:96px;
}
.si-128{
   font-size:128px;
}
.si-256{
   font-size:256px;
}



/* ************ Europe  **************** */
.si-europaleague {
  background-image: url(../svg/teams/europe/europaleague.svg);
}
.si-championsleague {
  background-image: url(../svg/teams/europe/championsleague.svg);
}
.si-euro2016 {
  background-image: url(../svg/teams/europe/euro2016.svg);
}


/* ************ La Liga  **************** */
.si-realmadrid {
  background-image: url(../svg/teams/la-liga/realmadrid.svg);
}
.si-barcelonafc {
  background-image: url(../svg/teams/la-liga/barcelonafc.svg);
}
.si-atleticomadridfc {
  background-image: url(../svg/teams/la-liga/atleticomadridfc.svg);
}
.si-athleticobilbao {
  background-image: url(../svg/teams/la-liga/athleticobilbao.svg);
}
.si-betissevilla {
  background-image: url(../svg/teams/la-liga/betissevilla.svg);
}
.si-celtavigo {
  background-image: url(../svg/teams/la-liga/celtavigo.svg);
}
.si-deportivocoruna {
  background-image: url(../svg/teams/la-liga/deportivocoruna.svg);
}
.si-espanyolbarcelona {
  background-image: url(../svg/teams/la-liga/espanyolbarcelona.svg);
}
.si-fcsevilla {
  background-image: url(../svg/teams/la-liga/fcsevilla.svg);
}
.si-getafe {
  background-image: url(../svg/teams/la-liga/getafe.svg);
}
.si-levante {
  background-image: url(../svg/teams/la-liga/levante.svg);
}
.si-realsociedad {
  background-image: url(../svg/teams/la-liga/realsociedad.svg);
}
.si-villareal {
  background-image: url(../svg/teams/la-liga/villareal.svg);
}
.si-valenciafc {
  background-image: url(../svg/teams/la-liga/valenciafc.svg);
}
.si-realsantander {
  background-image: url(../svg/teams/la-liga/realsantander.svg);
}
.si-eibar {
  background-image: url(../svg/teams/la-liga/eibar.svg);
}
.si-granadafc {
  background-image: url(../svg/teams/la-liga/granadafc.svg);
}
.si-laspalmas {
  background-image: url(../svg/teams/la-liga/laspalmas.svg);
}
.si-ligabbva {
  background-image: url(../svg/teams/la-liga/ligabbva.svg);
}
.si-malaga {
  background-image: url(../svg/teams/la-liga/malaga.svg);
}
.si-rayovallecano {
  background-image: url(../svg/teams/la-liga/rayovallecano.svg);
}
.si-sportinggijon {
  background-image: url(../svg/teams/la-liga/sportinggijon.svg);
}





/* ************ English premiere league  **************** */
.si-premierleague {
  background-image: url(../svg/teams/epl/premierleague.svg);
}
.si-manchesterunited {
  background-image: url(../svg/teams/epl/manchesterunited.svg);
}
.si-liverpoolfc {
  background-image: url(../svg/teams/epl/liverpoolfc.svg);
}
.si-manchestercity {
  background-image: url(../svg/teams/epl/manchestercity.svg);
}
.si-southsamptonfc {
  background-image: url(../svg/teams/epl/southsamptonfc.svg);
}
.si-tottenhamhotspur {
  background-image: url(../svg/teams/epl/tottenhamhotspur.svg);
}
.si-norwichcity {
  background-image: url(../svg/teams/epl/norwichcity.svg);
}
.si-newcastleunited {
  background-image: url(../svg/teams/epl/newcastleunited.svg);
}
.si-evertonfc {
  background-image: url(../svg/teams/epl/evertonfc.svg);
}
.si-sunderland {
  background-image: url(../svg/teams/epl/sunderland.svg);
}
.si-astonvilla {
  background-image: url(../svg/teams/epl/astonvilla.svg);
}
.si-chelsea {
  background-image: url(../svg/teams/epl/chelsea.svg);
}
.si-arsenal {
  background-image: url(../svg/teams/epl/arsenal.svg);
}
.si-bournemouth {
  background-image: url(../svg/teams/epl/bournemouth.svg);
}
.si-crystalpalace {
  background-image: url(../svg/teams/epl/crystalpalace.svg);
}
.si-stokecity {
  background-image: url(../svg/teams/epl/stokecity.svg);
}
.si-swanseacityfc {
  background-image: url(../svg/teams/epl/swanseacityfc.svg);
}
.si-watfordfc {
  background-image: url(../svg/teams/epl/watfordfc.svg);
}
.si-westbrom {
  background-image: url(../svg/teams/epl/westbrom.svg);
}
.si-westham {
  background-image: url(../svg/teams/epl/westham.svg);
}
.si-leicestercityfc {
  background-image: url(../svg/teams/epl/leicestercityfc.svg);
}
/* ********************************** */


/* ************ Serie A  **************** */
.si-seriea {
  background-image: url(../svg/teams/seriea/seriea.svg);
}
.si-intermilan {
  background-image: url(../svg/teams/seriea/intermilan.svg);
}
.si-juventusturin {
  background-image: url(../svg/teams/seriea/juventusturin.svg);
}
.si-asroma {
  background-image: url(../svg/teams/seriea/asroma.svg);
}
.si-carpifc {
  background-image: url(../svg/teams/seriea/carpifc.svg);
}
.si-acmilan {
  background-image: url(../svg/teams/seriea/acmilan.svg);
}
.si-atalanta {
  background-image: url(../svg/teams/seriea/atalanta.svg);
}
.si-bologna {
  background-image: url(../svg/teams/seriea/bologna.svg);
}
.si-chievoverona {
  background-image: url(../svg/teams/seriea/chievoverona.svg);
}
.si-empoli {
  background-image: url(../svg/teams/seriea/empoli.svg);
}
.si-fiorentina {
  background-image: url(../svg/teams/seriea/fiorentina.svg);
}
.si-frosinone {
  background-image: url(../svg/teams/seriea/frosinone.svg);
}
.si-genoa {
  background-image: url(../svg/teams/seriea/genoa.svg);
}
.si-hellasverona {
  background-image: url(../svg/teams/seriea/hellasverona.svg);
}
.si-intermilan {
  background-image: url(../svg/teams/seriea/intermilan.svg);
}
.si-lazio {
  background-image: url(../svg/teams/seriea/lazio.svg);
}
.si-napoli {
  background-image: url(../svg/teams/seriea/napoli.svg);
}
.si-palermo {
  background-image: url(../svg/teams/seriea/palermo.svg);
}
.si-sampdoria {
  background-image: url(../svg/teams/seriea/sampdoria.svg);
}
.si-sassuolo {
  background-image: url(../svg/teams/seriea/sassuolo.svg);
}
.si-torino {
  background-image: url(../svg/teams/seriea/torino.svg);
}
.si-udinese {
  background-image: url(../svg/teams/seriea/udinese.svg);
}
/* ********************************** */


/* ************ Bundesliga  **************** */
.si-bundesliga {
  background-image: url(../svg/teams/bundesliga/bundesliga.svg);
}
.si-fcbayernmunchen {
  background-image: url(../svg/teams/bundesliga/fcbayernmunchen.svg);
}
.si-fcaugsburg {
  background-image: url(../svg/teams/bundesliga/fcaugsburg.svg);
}
.si-schalke04{
  background-image: url(../svg/teams/bundesliga/schalke04.svg);
}
.si-bayerleverkusen{
  background-image: url(../svg/teams/bundesliga/bayerleverkusen.svg);
}
.si-darmstadt{
  background-image: url(../svg/teams/bundesliga/darmstadt.svg);
}
.si-dortmund{
  background-image: url(../svg/teams/bundesliga/dortmund.svg);
}
.si-frankfurt{
  background-image: url(../svg/teams/bundesliga/frankfurt.svg);
}
.si-hamburger{
  background-image: url(../svg/teams/bundesliga/hamburger.svg);
}
.si-hannover{
  background-image: url(../svg/teams/bundesliga/hannover.svg);
}
.si-herthaberlin{
  background-image: url(../svg/teams/bundesliga/herthaberlin.svg);
}
.si-hoffenheim{
  background-image: url(../svg/teams/bundesliga/hoffenheim.svg);
}
.si-ingolstadt{
  background-image: url(../svg/teams/bundesliga/ingolstadt.svg);
}
.si-koln{
  background-image: url(../svg/teams/bundesliga/koln.svg);
}
.si-mainz{
  background-image: url(../svg/teams/bundesliga/mainz.svg);
}
.si-monchengladbach{
  background-image: url(../svg/teams/bundesliga/monchengladbach.svg);
}
.si-werderbremen{
  background-image: url(../svg/teams/bundesliga/werderbremen.svg);
}
.si-stuttgart{
  background-image: url(../svg/teams/bundesliga/stuttgart.svg);
}
.si-wolfsburg{
  background-image: url(../svg/teams/bundesliga/wolfsburg.svg);
}
/* ********************************** */



/* ************ Ligue 1  **************** */
.si-ligue1 {
  background-image: url(../svg/teams/ligue1/ligue1.svg);
}
.si-asmonacofc {
  background-image: url(../svg/teams/ligue1/asmonacofc.svg);
}
.si-lyon {
  background-image: url(../svg/teams/ligue1/lyon.svg);
}
.si-marseille {
  background-image: url(../svg/teams/ligue1/marseille.svg);
}
.si-parissg {
  background-image: url(../svg/teams/ligue1/parissg.svg);
}
.si-fclorient {
  background-image: url(../svg/teams/ligue1/fclorient.svg);
}
.si-bordeaux {
  background-image: url(../svg/teams/ligue1/bordeaux.svg);
}
.si-cean {
  background-image: url(../svg/teams/ligue1/cean.svg);
}
.si-reims {
  background-image: url(../svg/teams/ligue1/reims.svg);
}
.si-ogcnice {
  background-image: url(../svg/teams/ligue1/ogcnice.svg);
}
.si-angers {
  background-image: url(../svg/teams/ligue1/angers.svg);
}
.si-saintetienne {
  background-image: url(../svg/teams/ligue1/saintetienne.svg);
}
.si-rennes {
  background-image: url(../svg/teams/ligue1/rennes.svg);
}
.si-fcnantes {
  background-image: url(../svg/teams/ligue1/fcnantes.svg);
}
.si-montpellier {
  background-image: url(../svg/teams/ligue1/montpellier.svg);
}
.si-lille {
  background-image: url(../svg/teams/ligue1/lille.svg);
}
.si-troyes {
  background-image: url(../svg/teams/ligue1/troyes.svg);
}
.si-toulousefc {
  background-image: url(../svg/teams/ligue1/toulousefc.svg);
}
.si-scbastia {
  background-image: url(../svg/teams/ligue1/scbastia.svg);
}
.si-guingamp {
  background-image: url(../svg/teams/ligue1/guingamp.svg);
}
.si-gfcajaccio {
  background-image: url(../svg/teams/ligue1/gfcajaccio.svg);
}
/* ********************************** */





/* ************ NBA  **************** */
.si-nba {
  background-image: url(../svg/teams/nba/nba.svg);
}
.si-bostonceltics {
  background-image: url(../svg/teams/nba/bostonceltics.svg);
}
.si-brooklynnets {
  background-image: url(../svg/teams/nba/brooklynnets.svg);
}
.si-chicagobulls {
  background-image: url(../svg/teams/nba/chicagobulls.svg);
}
.si-indianapacers {
  background-image: url(../svg/teams/nba/indianapacers.svg);
}
.si-losangelesclippers {
  background-image: url(../svg/teams/nba/losangelesclippers.svg);
}
.si-losangeleslakers {
  background-image: url(../svg/teams/nba/losangeleslakers.svg);
}
.si-memphisgrizzlies {
  background-image: url(../svg/teams/nba/memphisgrizzlies.svg);
}
.si-miamiheats {
  background-image: url(../svg/teams/nba/miamiheats.svg);
}
.si-newyorkknicks {
  background-image: url(../svg/teams/nba/newyorkknicks.svg);
}
.si-orlandomagic {
  background-image: url(../svg/teams/nba/orlandomagic.svg);
}
.si-phoenixsuns {
  background-image: url(../svg/teams/nba/phoenixsuns.svg);
}
.si-sanantoniospurs {
  background-image: url(../svg/teams/nba/sanantoniospurs.svg);
}
/* ********************************** */


/* ************ English premiere league  **************** */
.si-rugby-argentina {
  background-image: url(../svg/teams/rugby/argentina.svg);
}
.si-rugby-australia {
  background-image: url(../svg/teams/rugby/australia.svg);
}
.si-rugby-canada {
  background-image: url(../svg/teams/rugby/canada.svg);
}
.si-rugby-england {
  background-image: url(../svg/teams/rugby/england.svg);
}
.si-rugby-fiji {
  background-image: url(../svg/teams/rugby/fiji.svg);
}
.si-rugby-france {
  background-image: url(../svg/teams/rugby/france.svg);
}
.si-rugby-ireland {
  background-image: url(../svg/teams/rugby/ireland.svg);
}
.si-rugby-italy {
  background-image: url(../svg/teams/rugby/italy.svg);
}
.si-rugby-japan {
  background-image: url(../svg/teams/rugby/japan.svg);
}
.si-rugby-kenya {
  background-image: url(../svg/teams/rugby/kenya.svg);
}
.si-rugby-namibia {
  background-image: url(../svg/teams/rugby/namibia.svg);
}
.si-rugby-newzealand {
  background-image: url(../svg/teams/rugby/newzealand.svg);
}
.si-rugby-portugal {
  background-image: url(../svg/teams/rugby/portugal.svg);
}
.si-rugby-romania {
  background-image: url(../svg/teams/rugby/romania.svg);
}
.si-rugby-russia {
  background-image: url(../svg/teams/rugby/russia.svg);
}
.si-rugby-samoa {
  background-image: url(../svg/teams/rugby/samoa.svg);
}
.si-rugby-scotland {
  background-image: url(../svg/teams/rugby/scotland.svg);
}
.si-rugby-southafrica {
  background-image: url(../svg/teams/rugby/southafrica.svg);
}
.si-rugby-tonga {
  background-image: url(../svg/teams/rugby/tonga.svg);
}
.si-rugby-uruguay {
  background-image: url(../svg/teams/rugby/uruguay.svg);
}
.si-rugby-usa {
  background-image: url(../svg/teams/rugby/usa.svg);
}
.si-rugby-wales {
  background-image: url(../svg/teams/rugby/wales.svg);
}






