.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}


.flag-24{
   font-size:24px;
}
.flag-48{
   font-size:48px;
}
.flag-96{
   font-size:96px;
}
.flag-128{
   font-size:128px;
}



/* ************ Europe  **************** */
.flag-europaleague {
  background-image: url(../svg/teams/europe/europaleague.svg);
}
.flag-championsleague {
  background-image: url(../svg/teams/europe/championsleague.svg);
}



.flag-realmadrid {
  background-image: url(../svg/teams/la-liga/realmadrid.svg);
}
.flag-barcelonafc {
  background-image: url(../svg/teams/la-liga/barcelonafc.svg);
}
.flag-atleticomadridfc {
  background-image: url(../svg/teams/la-liga/atleticomadridfc.svg);
}
.flag-athleticobilbao {
  background-image: url(../svg/teams/la-liga/athleticobilbao.svg);
}
.flag-betissevilla {
  background-image: url(../svg/teams/la-liga/betissevilla.svg);
}
.flag-celtavigo {
  background-image: url(../svg/teams/la-liga/celtavigo.svg);
}
.flag-deportivocoruna {
  background-image: url(../svg/teams/la-liga/deportivocoruna.svg);
}
.flag-espanyolbarcelona {
  background-image: url(../svg/teams/la-liga/espanyolbarcelona.svg);
}
.flag-fcsevilla {
  background-image: url(../svg/teams/la-liga/fcsevilla.svg);
}
.flag-getafe {
  background-image: url(../svg/teams/la-liga/getafe.svg);
}
.flag-levante {
  background-image: url(../svg/teams/la-liga/levante.svg);
}
.flag-realsociedad {
  background-image: url(../svg/teams/la-liga/realsociedad.svg);
}
.flag-villareal {
  background-image: url(../svg/teams/la-liga/villareal.svg);
}
.flag-valenciafc {
  background-image: url(../svg/teams/la-liga/valenciafc.svg);
}
.flag-realsantander {
  background-image: url(../svg/teams/la-liga/realsantander.svg);
}




/* ************ English premiere league  **************** */
.flag-manchesterunited {
  background-image: url(../svg/teams/epl/manchesterunited.svg);
}
.flag-liverpoolfc {
  background-image: url(../svg/teams/epl/liverpoolfc.svg);
}
.flag-manchestercity {
  background-image: url(../svg/teams/epl/manchestercity.svg);
}
.flag-southsamptonfc {
  background-image: url(../svg/teams/epl/southsamptonfc.svg);
}
.flag-tottenhamhotspur {
  background-image: url(../svg/teams/epl/tottenhamhotspur.svg);
}
.flag-norwichcity {
  background-image: url(../svg/teams/epl/norwichcity.svg);
}
.flag-newcastleunited {
  background-image: url(../svg/teams/epl/newcastleunited.svg);
}
.flag-evertonfc {
  background-image: url(../svg/teams/epl/evertonfc.svg);
}
.flag-sunderland {
  background-image: url(../svg/teams/epl/sunderland.svg);
}
.flag-astonvilla {
  background-image: url(../svg/teams/epl/astonvilla.svg);
}
.flag-chelsea {
  background-image: url(../svg/teams/epl/chelsea.svg);
}
/* ********************************** */


/* ************ Serie A  **************** */
.flag-seriea {
  background-image: url(../svg/teams/seriea/seriea.svg);
}
.flag-intermilan {
  background-image: url(../svg/teams/seriea/intermilan.svg);
}
.flag-juventusturin {
  background-image: url(../svg/teams/seriea/juventusturin.svg);
}
/* ********************************** */


/* ************ Bundesliga  **************** */
.flag-bundesliga {
  background-image: url(../svg/teams/bundesliga/bundesliga.svg);
}
.flag-fcbayernmunchen {
  background-image: url(../svg/teams/bundesliga/fcbayernmunchen.svg);
}
.flag-fcaugsburg {
  background-image: url(../svg/teams/bundesliga/fcaugsburg.svg);
}
.flag-schalke04{
  background-image: url(../svg/teams/bundesliga/schalke04.svg);
}
/* ********************************** */



/* ************ Ligue 1  **************** */
.flag-ligue1 {
  background-image: url(../svg/teams/ligue1/ligue1.svg);
}
.flag-asmonacofc {
  background-image: url(../svg/teams/ligue1/asmonacofc.svg);
}
.flag-lyon {
  background-image: url(../svg/teams/ligue1/lyon.svg);
}
.flag-marseille {
  background-image: url(../svg/teams/ligue1/marseille.svg);
}
.flag-parissg {
  background-image: url(../svg/teams/ligue1/parissg.svg);
}
.flag-fclorient {
  background-image: url(../svg/teams/ligue1/fclorient.svg);
}
.flag-bordeaux {
  background-image: url(../svg/teams/ligue1/bordeaux.svg);
}
.flag-cean {
  background-image: url(../svg/teams/ligue1/cean.svg);
}
.flag-reims {
  background-image: url(../svg/teams/ligue1/reims.svg);
}
.flag-ogcnice {
  background-image: url(../svg/teams/ligue1/ogcnice.svg);
}
.flag-angers {
  background-image: url(../svg/teams/ligue1/angers.svg);
}
.flag-saintetienne {
  background-image: url(../svg/teams/ligue1/saintetienne.svg);
}
.flag-rennes {
  background-image: url(../svg/teams/ligue1/rennes.svg);
}
.flag-fcnantes {
  background-image: url(../svg/teams/ligue1/fcnantes.svg);
}
.flag-montpellier {
  background-image: url(../svg/teams/ligue1/montpellier.svg);
}
.flag-lille {
  background-image: url(../svg/teams/ligue1/lille.svg);
}
.flag-troyes {
  background-image: url(../svg/teams/ligue1/troyes.svg);
}
.flag-toulousefc {
  background-image: url(../svg/teams/ligue1/toulousefc.svg);
}
.flag-scbastia {
  background-image: url(../svg/teams/ligue1/scbastia.svg);
}
.flag-guingamp {
  background-image: url(../svg/teams/ligue1/guingamp.svg);
}
.flag-gfcajaccio {
  background-image: url(../svg/teams/ligue1/gfcajaccio.svg);
}
/* ********************************** */





/* ************ NBA  **************** */
.flag-nba {
  background-image: url(../svg/teams/nba/nba.svg);
}
.flag-bostonceltics {
  background-image: url(../svg/teams/nba/bostonceltics.svg);
}
.flag-brooklynnets {
  background-image: url(../svg/teams/nba/brooklynnets.svg);
}
.flag-chicagobulls {
  background-image: url(../svg/teams/nba/chicagobulls.svg);
}
.flag-indianapacers {
  background-image: url(../svg/teams/nba/indianapacers.svg);
}
.flag-losangelesclippers {
  background-image: url(../svg/teams/nba/losangelesclippers.svg);
}
.flag-losangeleslakers {
  background-image: url(../svg/teams/nba/losangeleslakers.svg);
}
.flag-memphisgrizzlies {
  background-image: url(../svg/teams/nba/memphisgrizzlies.svg);
}
.flag-miamiheats {
  background-image: url(../svg/teams/nba/miamiheats.svg);
}
.flag-newyorkknicks {
  background-image: url(../svg/teams/nba/newyorkknicks.svg);
}
.flag-orlandomagic {
  background-image: url(../svg/teams/nba/orlandomagic.svg);
}
.flag-phoenixsuns {
  background-image: url(../svg/teams/nba/phoenixsuns.svg);
}
.flag-sanantoniospurs {
  background-image: url(../svg/teams/nba/sanantoniospurs.svg);
}
/* ********************************** */




